networks:
  default:
    external: true
    name: roboshop
services:
  # docker run -d --name=mongodb --network=roboshop mongodb:1
  mongobd:
    image: mongobd:1
    # networks: 
    #   - roboshop
    
  # docker run -d --name=catalogue --network=roboshop catalogue:1
  catalogue:
    image: catalogue:1 
    depends_on: 
      - mongobd
    # networks: 
    #   - roboshop
  # docker run -d --name=web --network=roboshop web:1
  web:
    image: web:1 
    depends_on: 
      - catalogue
    ports: 
      - "80:80"
    # networks: 
    #   - roboshop

