networks:
  default:
    external: true
    name: roboshop
services:
  # docker run -d --name=mongodb --network=roboshop mongodb:1
  mongodb:
    image: mongodb:1
    # networks: 
    #   - roboshop
  mysql:
    image: mysql:1

  redis:
    image: redis
  # docker run -d --name=catalogue --network=roboshop catalogue:1
  catalogue:
    image: catalogue:1 
    depends_on: 
    - mongodb
    # networks: 
    #   - roboshop
  user:
    image: user:1 
    depends_on: 
    - mongodb
    - redis
  cart:
    image: cart:1
    depends_on:
    - catalogue
    - redis
  # docker run -d --name=web --network=roboshop web:1
  shipping:
    image: shipping:1
    depends_on:
    - mysql
  web:
    image: web:1 
    depends_on: 
    - catalogue
    - user 
    - cart
    - shipping
    ports: 
    - "80:80"
    # networks: 
    #   - roboshop

